body {
    font-family: 'Montserrat', sans-serif;
    
}
.navbar-brand {
    letter-spacing: 2px;
}

.hero-section {
    text-align: center;
    height: 90vh;
    background-image: url("../images/whistler.jpg");
}

.hero-section h1 {
    text-align: center;
    padding-top: 15vh;
    font-weight: 300;
    font-size: 200%;
    color: azure;
}

.hero-section h2 {
    color: antiquewhite;
}


